h1 {
  text-align: center;
  font-family: monospace;
  font-weight: lighter;
  font-size: 60px;
}

nav {
  font-size: 1em;
}

a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 30px;
  margin: auto;
  color: gray;
}

a:hover {
  color: black;
  text-decoration: line-through;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

p {
  text-align: center;
}
